@model List<AlquilerVehiculoP2.Models.facturas>

@{
    ViewBag.Title = "Dashboard";
}

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<h2>Dashboard</h2>

<div class="container">
    <div class="row">

        <div class="col-md-3">
            <div class="list-group">
                <!-- Opciones de navegación -->
                @Html.ActionLink("Empleados", "Empleados", "Home")
                @Html.ActionLink("Vehículos", "Vehiculos", "Home")
                @Html.ActionLink("Facturas", "Facturas", "Home")
                <!-- Agrega más opciones según tus tablas -->
            </div>
        </div>

        <div class="table-responsive">
            <!-- Aquí puedes mostrar los datos de las facturas -->
            <h3>Alquileres</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Vehículo</th>
                        <th>Modelo</th>
                        <th>Placa</th>
                        <th>Foto</th>
                        <th>Fecha de alquiler</th>
                        <th>Fecha de devolución</th>
                        <th>Atendido por</th>
                        <th>Total del alquiler</th>
                        <!-- Agrega más columnas según tus necesidades -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var factura in Model)
                    {
                        <tr>
                            <td>@factura.NombreCliente</td>
                            <td>@factura.vehiculos.Marca</td>
                            <td>@factura.vehiculos.Modelo</td>9
                            <td>@factura.vehiculos.placa</td>
                            <td>@factura.vehiculos.foto</td>
                            <td>@factura.FechaAlquiler</td>
                            <td>@factura.FechaDevolucion</td>
                            <td>@factura.empleados.Nombres, @factura.empleados.Apellidos</td>
                            <td>@factura.TotalAlquiler</td>
                            <!-- Agrega más columnas según tus necesidades -->
                        </tr>
                    }
                </tbody>
            </table>
        </div>
